[submodule "extern/musyx"]
	path = extern/musyx
	url = https://github.com/AxioDL/musyx
[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/dbalatoni13/aurora.git
[submodule "extern/longjmp_win64"]
	path = extern/longjmp_win64
	url = https://github.com/GlinkieGamesInc/longjmp_win64.git
